<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>522391606234-ect0irkomme0il3t5t91a892abs5dgmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522391606234-ect0irkomme0il3t5t91a892abs5dgmb</string>
	<key>API_KEY</key>
	<string>AIzaSyDismtj-8JZi94_zuJGJcBgvChfnDIqJ2w</string>
	<key>GCM_SENDER_ID</key>
	<string>522391606234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanakia.info</string>
	<key>PROJECT_ID</key>
	<string>kanakia-5d03e</string>
	<key>STORAGE_BUCKET</key>
	<string>kanakia-5d03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522391606234:ios:6b78a62bbda7b00b</string>
	<key>DATABASE_URL</key>
	<string>https://kanakia-5d03e.firebaseio.com</string>
</dict>
</plist>